
@font-face {
  font-family: 'VG5000';
  src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/beta-blocks/fonts/VG5000-Regular.otf') format('opentype');
}
body {
  font-family: 'VG5000';

}
