
@font-face {
  font-family: 'VG5000';
  src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/beta-blocks/fonts/VG5000-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'LunchtypeMed';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/beta-blocks/fonts/lunchtype24-medium-expanded-webfont.woff2') format('woff2'),
        /* Super modern browsers */
        url('https://res.cloudinary.com/engagement-lab-home/raw/upload/beta-blocks/fonts/lunchtype24-medium-expanded-webfont.woff') format('woff'),
        /* Modern browsers */
        url('https://res.cloudinary.com/engagement-lab-home/raw/upload/beta-blocks/fonts/Lunchtype24-medium-expanded-webfont.ttf') format('truetype');
    /* Safari, Android, iOS */
}

body {
  font-family: 'VG5000';
  text-align: center;
  
}

a {
  cursor: pointer;
}

a, a img, a svg {
  transition: transform .4s ease-in-out;
}

a:hover, a:hover img, a:hover svg {
  transform: scale(1.1);
}

a.yellow {
  
  display: inline-flex;
  font-family: 'LunchtypeMed';

  align-items: center;
  justify-content: space-evenly;
  
  width: 220px;
  height: 80px;
    border-radius: 50px;

  text-align: center;
  text-decoration: none;

  background-color: #fcbd0b;
  border: solid 4px #fcbd0b;

  /* @include transition(all, .3s, ease-in-out); */

  cursor: pointer;
}

#playpause {
  margin-left: 5%;
}

#root {
  margin-left: auto;
  margin-right: auto;
  
  max-width: 60%;
}

h1 {
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 7.2px;

  -webkit-text-stroke: 1px #402b59;
  color: #402b59;
}